<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <div> Layout Header </div>
    </header>
    <main class="flex-shrink-0">
      {% block content %}{% endblock %}
    </main>
    <footer class="py-3 bg-dark text-white text-center fixed-bottom">
      <div class="container">
        <span>Fintech @ IU WK 7</span>
      </div>
    </footer>
  </body>
</html>
